*{
    padding: 0;
    margin: 0;
}

body{
    background: rgba(127, 179, 213, 0.86);
    color: white;
    font-weight: 900;
    text-shadow: 1px 0.75px 0.85px rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    position: absolute;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    height: 90vh;
    width: 90vw;
    padding: 10px;
}

.footer{
    padding-left: 10px;
    font-size: 2em;
}

.time-AM-PM,.time-mil{
    font-size: 4em;
}

.footer{
    position: relative;
    top:93vh;
}

.time-AM-PM{
    color: white;
}

.time-mil{
    position: absolute;
    top: 0;
    padding-top:10px;
    display: none;
}

.switcher{
    position: fixed;
    border: none;
    background: none;
    color: rgba(255,255,255,1);
    text-shadow: 1px 0.75px 0.85px rgba(0,0,0,0.3);
    font-size: 40px;
    bottom:15px;
    right: 15px;
    z-index: 1;
}

.switcher:hover{
    cursor: pointer;
}